@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    margin: 20px;
}

h2{
    font-family: 'Lobster', cursive;
}

#formData{
    display: block;
    margin: auto;
    width: 400px;
    margin-bottom: 20px;
}

div #movieInput{
    margin-bottom: 0;
}
#movieDiv{
    display: flex;
}

#movieDiv #poster, #movieDiv #info{
    margin: 20px;
    word-break: break-all;   
}

.buttons{
    margin: 10px 0 0 0;
}