@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam&family=Lobster&display=swap');

:root{
    --darkBlue1: #072540;
    --darkBlue2: #183D5D;
    --lightBlue1: #93C2DB;
    --white1: #FAFAFA;
    --brown1: #2787B7;
}
body{
    background-color: var(--brown1);
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px) 0% 0% / */
                /* 40px 40px, linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px) rgb(54, 54, 69); */
    ;
}

/* #headingDiv{
    margin: 20px 0 15px 0;
} */

#headingDiv:hover{
    cursor: pointer;
}

#headerText{
    font-family: 'Lobster', cursive;
    z-index: 1;
    color: var(--white1);
    font-size: 50px;
}

#formData{
    display: block;
    margin: auto;
    width: 400px;
    margin-bottom: 20px;
    z-index: 1;
}

div #movieInput{
    z-index: 20;
    margin-bottom: 0;
}

#movieDiv{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 20px;
    word-spacing: 2px;
}

#movieDiv #info{
    color: var(--white1);
}

#movieDiv #poster, #movieDiv #info{
    margin: 20px;
    word-break: break-word;
    max-height: 62vh;
}

.buttons{
    margin: 10px 0 0 0;
}

.card-img-top{
    object-fit: contain;
    height: 400px;
}
.card{
    height: 600px;
}
.recommend{
    margin: 10px;
    width: 500px;
}
.dispMovie{
    display: flex;
    justify-content: space-evenly;
}